* h1{
    color: blueviolet;
    text-decoration: dotted;
    text-align: justify;
    background-color: aquamarine;
}
* h2{
    color: yellow;
    text-decoration: dotted;
    text-align: justify;
}

* img{
    padding: 0 ; color: aquamarine;
    padding-left: 10%;
    padding-right: 10%;
    
}
